# Ignore the cache directory, but keep .gitkeep
/src/data/cache/*
!/src/data/cache/.gitkeep

# Ignore .pickle and .csv files within the data directory, unless they are directly in /data/
!/data/*.pickle
!/data/*.csv

# Ignore environment and system files
.env
/tmp/
.DS_Store

# Ignore Python cache files
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Ignore the package information
src/meteor_py.egg-info/


